*{
    font-family: terminal, monospace;
    color: white;
}
body {
    background-color: black;
}
.table {
    margin: auto;
    width: 800px;
    height: 400px;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

#player {padding-right : 20px; float:left;}
#playerui {float:left;}
#dealer {padding-left : 20px; float:right;}
#dealerui {float:right;}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.5s;
    
    
}
.btn1:hover {
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn2:hover {
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn3:hover {
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.gamename {
    font: terminal;
    text-align: left;
    font-size: 13px;
    vertical-align: text-top;
}